<toaster></toaster>

<trach-header></trach-header>

<router-outlet></router-outlet>

<!--<div id="httpoolFrameOver1486673010693" style="margin:0px;padding:0px;">-->
<!--<div id="httpoolFrameOverL1486673010693"-->
<!--style="height:100%;margin-left:-1470px;position:fixed;left:50%;top:0px;width:1000px;overflow:hidden;text-align:right;text-decoration:none;background-color:transparent;">-->
<!--<a style="margin:0px;padding:0px;" routerLinkActive="/home" title=""><img-->
<!--src="http://static.httpool.com/rs/revenue/2017/yu_fox/ispovesti.com-fox-legion-481x992-left-rs.jpg" border="0"-->
<!--style="margin:0px;padding:0px;border:0px;float:right;width:481px;height:992px;" width="481" height="992">-->
<!--</a>-->
<!--</div>-->
<!--<div id="httpoolFrameOverR1486673010693"-->
<!--style="height:100%;margin-right:-1470px;position:fixed;right:50%;top:0px;width:1000px;overflow:hidden;text-align:left;text-decoration:none;background-color:transparent;">-->
<!--<a style="margin:0px;padding:0px;" routerLinkActive="/home" title=""><img-->
<!--src="http://static.httpool.com/rs/revenue/2017/yu_fox/ispovesti.com-fox-legion-481x992-right-rs.jpg" border="0"-->
<!--style="margin:0px;padding:0px;border:0px;width:481px;height:992px;" width="481" height="992">-->
<!--</a>-->
<!--</div>-->
<!--</div>-->


