<div class="content-wrapper">
  <div class="container">
  <div class="col-md-12">

    <h1>{{'terms.h1' | translate}}</h1>

    <h3>{{'terms.introduction' | translate}}</h3>
    <p class="text-justify">
      {{'terms.introduction.info' | translate}}
    </p>

    <h3>{{'terms.portal' | translate}}</h3>
    <p class="text-justify">
      {{'terms.portal.info' | translate}}
    </p>

    <h3>{{'terms.copyright' | translate}}</h3>
    <p class="text-justify">
      {{'terms.copyright.info' | translate}}
    </p>

    <h3>{{'terms.links' | translate}}</h3>
    <p class="text-justify">
      {{'terms.links.info' | translate}}
    </p>

    <h3>{{'terms.privacy' | translate}}</h3>
    <p class="text-justify">
      {{'terms.privacy.info' | translate}}
    </p>

    <h3>{{'terms.rules' | translate}}</h3>
    <p class="text-justify">
      {{'terms.rules.info' | translate}}
    </p>

  </div>
  </div>
</div>
