<div class="content-wrapper">
  <div class="container">
  <div class="col-md-12">

    <h1>{{'marketing.h1' | translate}}</h1>

    <h3>{{'marketing.h3' | translate}}</h3>
    <p class="text-justify">
      {{'marketing.info' | translate}} <a href="mailto:trachhub@gmail.com">trachhub@gmail.com</a>
    </p>

  </div>
  </div>
</div>
