<div class="row" style="padding: 70px" *ngIf="trach">

  <div class="col-md-6 widget">

    <form class="form-horizontal">

      <div class="form-group">
        <label for="name" class="control-label">Text</label>
        <textarea type="text" class="form-control" id="name" required [(ngModel)]="trach.text" name="text"></textarea>
      </div>

      <div class="pull-right">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-tertiary" (click)="cancel()">Cancel</button>
      </div>
    </form>

  </div>

</div>
