<div class="content-wrapper">
  <div class="container">
  <div class="col-md-12">

    <h1>{{'faq.h1' | translate}}</h1>

    <h3>{{'faq.question1' | translate}}</h3>
    <p class="text-justify">
      {{'faq.question1.answer' | translate}}
    </p>

    <h3>{{'faq.question2' | translate}}</h3>
    <p class="text-justify">
      {{'faq.question2.answer' | translate}}
    </p>

    <h3>{{'faq.question3' | translate}}</h3>
    <p class="text-justify">
      {{'faq.question3.answer' | translate}}
    </p>

  </div>
  </div>
</div>
