<div [ngClass]="'ui-fileupload ui-widget'" [ngStyle]="style" [class]="styleClass">

    <div class="ui-fileupload-buttonbar ui-widget-header ui-corner-top">
        <button class="btn btn-secondary" type="button" (click)="onChooseClick($event, fileinput)" [disabled]="disabled">
            <i class="fa fa-file"></i>
            <input #fileinput type="file" (change)="onFileSelect($event)" [accept]="accept" [disabled]="disabled" style="display: none">
        </button>
        <button class="btn btn-secondary" type="button" (click)="upload()" [disabled]="!hasFiles()">
            <i class="fa fa-upload"></i>
        </button>
        <button class="btn btn-secondary" type="button" (click)="clear()" [disabled]="!hasFiles()">
            <i class="fa fa-close"></i>
        </button>
    </div>

    <div [ngClass]="{'ui-fileupload-content ui-widget-content ui-corner-bottom':true,'ui-fileupload-highlight':dragHighlight}"
         (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

        <div class="ui-fileupload-files" *ngIf="hasFiles()">
            <div *ngIf="!fileTemplate">
                <div class="ui-fileupload-row" *ngFor="let file of files">
                    <div>
                        <img [src]="file.objectURL" *ngIf="isImage(file)" [width]="previewWidth"/>
                    </div>
                    <div>{{file.name | truncate : [30]}}</div>
                    <div>{{formatSize(file.size)}}</div>
                    <div>
                        <button class="btn btn-secondary" type="button" (click)="remove(i)">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="fileTemplate">
                <template ngFor [ngForOf]="files" [ngForTemplate]="fileTemplate"></template>
            </div>
        </div>

    </div>

</div>