<div class="box box-default box-main">
  <div class="box-header with-border">
    <form class="form-horizontal">
      <div class="form-group margin-bottom-none">
        <div class="col-sm-12 margin-b-5">
          <input class="form-control input-md" placeholder="Share a opinion, rumor, gossip, trach..." [(ngModel)]="text" name="text"
                 (keydown)="onKeyDown($event)">
          <!--<ul class="list-inline margin-b-0">-->
          <!--<li><a class="link-black text-md" href="javascript://nop"><i class="fa fa-user-plus margin-rt-5"></i>Link</a></li>-->
          <!--<li><a class="link-black text-md" href="javascript://nop"><i class="fa fa-map-marker margin-rt-5"></i>Location</a>-->
          <!--</li>-->
          <!--</ul>-->
        </div>
        <div class="col-sm-2 pull-right">
          <button type="submit" class="btn pull-right btn-block btn-danger btn-md" (click)="save()">{{ 'button.trach' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
