<div class="row" *ngIf="statistics">
  <div class="col-md-3 col-sm-6 col-xs-6 bottom-margin-xs">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-commenting-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Traches</span>
        <span class="info-box-number">{{statistics.traches}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6 bottom-margin-xs">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Likes</span>
        <span class="info-box-number">{{statistics.likes}}</span>
      </div>
    </div>
  </div>

  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-6 bottom-margin-xs">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-comments-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Comment</span>
        <span class="info-box-number">{{statistics.comments}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6 bottom-margin-xs">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa fa-share"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Shares</span>
        <span class="info-box-number">{{statistics.shares}}</span>
      </div>

    </div>
  </div>
</div>
