<div class="box box-default" *ngIf="trach !=null">
  <div class="box-header with-border">
    <h3 class="box-title trach">{{trach.text}}</h3>
    <div class="post">
      <ul class="list-inline margin-b-0">
        <li *ngFor="let tag of trach.tags" class="trach-tag">
          <a href="javascript://nop" (click)="searchByTag(tag)">{{tag.text}}</a>
        </li>
      </ul>
      <ul class="list-inline margin-b-0">
        <!--<li><i class="fa fa-map-marker margin-rt-5"></i>Beograd</li>-->
        <li class="pull-right"><span class="description text-muted">{{trach.date | ago}}</span></li>
      </ul>
    </div>
  </div>

  <div class="box-body">
    <div class="post">
      <ul class="list-inline margin-b-0">
        <li class="li-like">
          <a href="javascript://nop" class="link-black text-md" (click)="like()">
            <i class="fa fa-thumbs-up"></i>
            <span class="hidden-xs">Like</span>
          </a> ({{trach.likes}})
        </li>
        <li class="li-unlike">
          <a href="javascript://nop" class="link-black text-md" (click)="unlike()">
            <i class="fa fa-thumbs-down"></i>
            <span class="hidden-xs">Dislike</span>
          </a> ({{trach.unlikes}})
        </li>
        <li class="pull-right">
          <a href="javascript://nop" class="link-black text-md" (click)="loadComments()">
            <i class="fa fa-comments-o margin-r-5"></i>
            <span class="hidden-xs">Comments</span>
            ({{trach.comment}})
          </a>
        </li>
        <li class="pull-right">
          <a href="javascript://nop" class="link-black text-md" (click)="share()">
            <i class="fa fa-share margin-r-5"></i>
            <span class="hidden-xs">Share </span>
            ({{trach.shares}})
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="box-footer box-comments" *ngIf="commentsExpanded">
    <div style="background-color: #f4f4f4;text-align: center;border-bottom: 1px solid #f4f4f4;">Comments</div>

    <div class="box-comment" *ngFor="let comment of trach.comments">
      <div class="comment-text">
        <ul class="list-inline margin-b-0">
          <li>
            <span class="username">
              {{comment.author}}
            </span>
          </li>
          <li class="pull-right">
            <a href="javascript://nop" class="link-black text-md" (click)="unlikeComment(comment)">
              <i class="fa fa-thumbs-down margin-r-5"></i>
              <span class="hidden-xs">Dislike </span>
            </a> ({{comment.unlikes}})
          </li>
          <li class="pull-right">
            <a href="javascript://nop" class="link-black text-md" (click)="likeComment(comment)">
              <i class="fa fa-thumbs-up margin-r-5"></i>
              <span class="hidden-xs">Like </span>
            </a> ({{comment.likes}})
          </li>
        </ul>
        <ul class="list-inline margin-b-0">
          <li>
            {{comment.text}}
          </li>
          <li class="pull-right">
            <span class="text-muted pull-right">{{comment.date | ago}}</span>
          </li>
        </ul>
      </div>

    </div>

    <div class="box-comment">
      <form class="form-horizontal">

        <div class="form-group margin-bottom-none">

          <div class="col-md-3 margin-b-5">
            <input class="form-control input-md" placeholder="Name (Optional)" [(ngModel)]="comment.author" name="commentAuthor">
          </div>
          <div class="col-md-7 margin-b-5">
            <input class="form-control input-md" placeholder="Write a comment..." [(ngModel)]="comment.text" name="commentText">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn pull-right btn-block btn-md" (click)="saveComment()">Comment</button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>
