<div class="wrapper" (onScrollMethod)="nextPage()" InfiniteScroll>

  <div class="content-wrapper">

    <div class="container">

      <section class="content-header">

        <trach-trach-create></trach-trach-create>

      </section>

      <section class="content" (onScrollMethod)="nextPage()" InfiniteScroll>

        <trach-list [traches]="traches"></trach-list>

      </section>

    </div>


  </div>

</div>




