<div class="content-wrapper">
  <div class="container">
  <div class="col-md-12">

    <h1>{{'contact.h1' | translate}}</h1>

    <h3>{{'contact.write' | translate}}</h3>
    <p class="text-justify">
      {{'contact.write.info1' | translate}}<a href="mailto:trachhub@gmail.com">trachhub@gmail.com</a>
      {{'contact.write.info2' | translate}}
      <br/><br/>
      <b>{{'contact.write.note' | translate}}</b> {{'contact.write.info3' | translate}} <a [routerLink]="['/faq']">{{'faq.h1' | translate}}</a> {{'contact.write.info4' | translate}}
      <br/>
      <br/>
      {{'contact.write.thanks' | translate}}
    </p>
  </div>
  </div>
</div>
