<header class="main-header">

  <nav class="navbar navbar-static-top">

    <div class="container">

      <div class="navbar-header">
        <a [routerLink]="['home']" class="navbar-brand"><b>Trach</b>Hub</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse pull-left" id="navbar-collapse" style="border: none;">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="'type/today'"><i class="fa fa-coffee"></i><span class="navbar-title"> - Today</span></a></li>
          <li><a [routerLink]="'type/month'"><i class="fa fa-calendar"></i><span class="navbar-title"> - This Month</span></a></li>
          <li><a [routerLink]="'type/popular'"><i class="fa fa-fire"></i><span class="navbar-title"> - Most Popular</span></a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" (submit)="search()">
          <div class="form-group">
            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" [(ngModel)]="phrase" name="phrase">
          </div>
        </form>
      </div>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown" *ngIf="showSortMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer"><i class="fa fa-sort-amount-asc"></i></a>
            <ul class="dropdown-menu" role="menu" style="right: 0%;">
              <li><a href="javascript://nop" (click)="sort('newest')">Newest</a></li>
              <li><a href="javascript://nop" (click)="sort('likes')">By Likes</a></li>
              <li><a href="javascript://nop" (click)="sort('dislikes')">By Dislikes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer">
              <i class="fa fa-gears"></i>
            </a>
            <ul class="dropdown-menu" role="menu" style="right: 0%;">
              <li><a [routerLink]="['/about']">About Us</a></li>
              <li><a [routerLink]="['/contact']">Contact</a></li>
              <li><a [routerLink]="['/faq']">FAQ</a></li>
              <li class="divider"></li>
              <li><a [routerLink]="['/marketing']">Marketing</a></li>
              <li class="divider"></li>
              <li><a [routerLink]="['/terms']">Terms</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
