<div class="toast alert notification_box" [ngClass]="[toast.type]" (click)="close($event)">
    <i class="fa" [ngClass]="[toast.icon]"></i>
    <span *ngIf="toast.title || toast.msg" class="toast-text">
        <span *ngIf="toast.title" class="toast-title">{{toast.title}}</span>
        <br *ngIf="toast.title && toast.msg"/>
        <span *ngIf="toast.msg" class="toast-msg">{{toast.msg}}</span>
    </span>
</div>
