#toaster {
  position: fixed;
  z-index: 999999;
}

#toaster.top-center {
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.notification_box {
  padding: 20px 15px;
  margin: 5px;
  border-radius: 0px;
}
