<div class="content-wrapper">
  <div class="container">
    <div class="col-md-12">

      <h1>{{'about.h1' | translate}}</h1>

      <h3>{{'about.goal' | translate}}</h3>
      <p class="text-justify">
        {{'about.goal.info' | translate}}
      </p>

      <h3>{{'about.vision' | translate}}</h3>
      <p class="text-justify">
        {{'about.vision.info' | translate}}
        <br/>
        <br/>
      </p>

      <p>
        <b>{{'about.regards' | translate}}</b>
      </p>

    </div>

  </div>
</div>
