.ui-autocomplete {
    width: 100%;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: block;
}

.ui-autocomplete .ui-autocomplete-dropdown {
    position: absolute;
    height: 100%;
    width: 2em;
}

.ui-autocomplete-query {
    font-weight: bold;
}

.ui-autocomplete-panel {
    position: absolute;
    overflow: auto;
    border: 1px solid #ccc;
    background:#fff;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0;
    border: 0 none;
}

.ui-autocomplete-panel .ui-autocomplete-list-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 10px 10px 10px 28px;
    text-align: left;
}

.ui-autocomplete .ui-button-icon-only {
    border-left: 0 none;
}

/* Multiple Selection */
.ui-autocomplete-multiple-container.ui-inputtext {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 .25em;
}
.ui-autocomplete-list-item.ui-state-highlight{
    background:#FDB823;
}
.ui-autocomplete-token {
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: .125em .5em;
    white-space: nowrap;
    position: relative;
    margin-right: .125em;
    border: 0 none;
}

.ui-autocomplete-token-label {
    display: block;
    margin:0 7px 0 0;
}

.ui-autocomplete.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    right:5px;
}
.ui-autocomplete.chosen-container-multi .chosen-choices li.search-choice{
    padding-right:15px;
    line-height:18px;
}

.ui-autocomplete-token-icon {
    margin-top: -.5em;
    position: absolute;
    right: 0.2em;
    top: 50%;
    cursor: pointer;
}

.ui-autocomplete-input, .ui-autocomplete-multiple-container{
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.ui-autocomplete-input-token {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 0 0 .125em;
    padding: .25em .25em .25em 0;
}

.ui-autocomplete-input-token .ui-inputtext {
    border: 0 none;
    width: 10em;
    outline: medium none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-autocomplete-dd input.ui-corner-all {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/** AutoComplete **/
.ui-fluid .ui-autocomplete,
.ui-fluid .ui-autocomplete-input {
    width: 100%;
}

.ui-fluid .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
    width: 2em;
}