.main-header .navbar {
  border-bottom: 1px solid #eee;
}

.margin-rt-5 {
  margin-top: 5px;
  margin-right: 5px;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-l-0 {
  margin-left: 0px;
}

.box.box-default {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.box.box-default.box-main {
  margin-bottom: 0px;
}

.box-comments .comment-text {
  margin-left: 0px;
}

.box-header .text-muted {
  font-weight: 400;
  font-size: 12px;
}

i.fa-thumbs-up {
  color: #337ab7;
}

i.fa-thumbs-down {
  color: #dd4b39;
}

i.fa-comments-o {
  color: #00a65a;
}

i.fa-share {
  color: #f39c12;
}

.info-box i {
  color: #fff;
}

.trach-tag {
  color: #003569;
  margin-right: 2px;
  margin-left: 2px;
}

.content-wrapper {
  background-color: #f4f4f4;
}

.content-wrapper .container {
  background-color: #f4f4f4;
  padding-right: 0px;
  padding-left: 0px;
}

.box {
  border-top: none;
}

.main-footer .container {
  background: none;
}

.main-footer {
  color: #fff;
  background-color: #3c8dbc;
}

.info-box {
  min-height: 0;
}

.info-box-icon {
  height: initial;
  line-height: initial;
}

.inline_error {
  color: red;
}

.splash-screen {
  background-color: #3c8dbc;
  height: 100%;
}

.splash-screen .splash-container {
  padding-top: 300px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.splash-screen .logo {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  color: #fff;
}

.splash-screen .load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.splash-screen .bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.splash-screen .bar:nth-child(1) {
  background-color: #FFC107;
  animation: loading 3s linear infinite;
}

.splash-screen .bar:nth-child(2) {
  background-color: #fff;
  animation: loading 3s linear 1s infinite;
}

.splash-screen .bar:nth-child(3) {
  background-color: #FFC107;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px;
  }
}

.box-title.trach {
  background-color: rgba(226, 226, 226, 0.7);
  border-radius: 5px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 5px;
}
