<span class="input-group-addon btn btn-secondary" *ngIf="popupPicker" (click)="showPickerBtnClicked()">
    <span><i class="fa fa-calendar"></i></span>
</span>

<datepicker [(ngModel)]="dt" *ngIf="!popupPicker || displayPicker" [ngClass]="{'filter-date-drop': popupPicker}"
            [minDate]="minDate" [showWeeks]="showWeeks"
            (ngModelChange)="onChange()">

</datepicker>