.input-group-addon{
    border-radius: 5px;
    border: 1px solid #ccc;
    width:20px;
}
.filter-date-drop {
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    z-index: 1010;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}