<div class="content-wrapper" style="padding-top: 70px;background-color: #fff;">
  <div class="container">

    <div class="col-md-12" style="background-color: #fff;">

      <ul class="nav nav-tabs">
        <li [ngClass]="{active: activeTab == 1}">
          <a href="javascript://nop" (click)="activateTrachTab()">Trach</a>
        </li>
        <li [ngClass]="{active: activeTab == 2}">
          <a href="javascript://nop" (click)="activateCommentTab()">Comment</a>
        </li>
      </ul>

      <div class="tab-content">

        <div id="trach" class="tab-pane fade in active" *ngIf="activeTab == 1">

          <div class="table-responsive" (onScrollMethod)="nextPageTrach()" InfiniteScroll>

            <table class="table">

              <thead>
              <tr>
                <th>Id</th>
                <th>Text</th>
                <th style="width: 200px;">Action</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let trach of traches">
                <td>{{trach.id}}</td>
                <td>{{trach.text}}</td>
                <td style="width: 250px;">
                  <button class="btn btn-primary" (click)="editTrach(trach)">Edit</button>
                  <button class="btn btn-success" (click)="approveTrach(trach)">Approve</button>
                  <button class="btn btn-danger" (click)="rejectTrach(trach)">Reject</button>
                </td>
              </tr>
              </tbody>

            </table>

          </div>
        </div>

        <div id="comment" class="tab-pane fade in active" *ngIf="activeTab == 2">

          <div class="table-responsive" (onScrollMethod)="nextPageComment()" InfiniteScroll>

            <table class="table">

              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th style="width: 200px;">Action</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let comment of comments">
                <td>{{comment.id}}</td>
                <td>{{comment.author}}</td>
                <td>{{comment.text}}</td>
                <td style="width: 250px;">
                  <button class="btn btn-primary" (click)="editComment(comment)">Edit</button>
                  <button class="btn btn-success" (click)="approveComment(comment)">Approve</button>
                  <button class="btn btn-danger" (click)="rejectComment(comment)">Reject</button>
                </td>
              </tr>
              </tbody>

            </table>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
