<div bsModal #confirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true"
     id="{{'model_'+ action}}">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="confirmationModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning notification_box" role="alert">
                    <i class="fa fa-warning"></i> {{message}}
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="no()" id="no_button">{{'label.no' | translate}}</button>
                <button type="button" class="btn btn-default" (click)="yes()" id="yes_button">{{'label.yes' | translate}}</button>
            </div>
            <br>
        </div>
    </div>
</div>
